* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: min-content;
  width: 500px;
  position: relative;
}

.progress-ring {
  position: absolute;
}

.progress-ring__circle {
  transition: 5s stroke-dashoffset;
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.values {
  width: 100%;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
